USE [master]
GO
/****** Object:  Database [Glamora]    Script Date: 3/16/2026 1:09:14 PM ******/
CREATE DATABASE [Glamora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Glamora', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Glamora.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Glamora_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\Glamora_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Glamora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Glamora]
GO
USE [Glamora]
GO
/****** Object:  Sequence [dbo].[AppointmentSeq]    Script Date: 3/16/2026 1:09:14 PM ******/
CREATE SEQUENCE [dbo].[AppointmentSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[AppointmentServiceTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentServiceTbl](
	[AppServiceID] [varchar](10) NOT NULL,
	[AppID] [varchar](10) NOT NULL,
	[Service_ID] [varchar](10) NOT NULL,
	[PriceAtTime] [decimal](10, 2) NOT NULL,
	[DurationAtTime] [int] NOT NULL,
	[Emp_ID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentsTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentsTbl](
	[AppID] [varchar](10) NOT NULL,
	[Cus_ID] [varchar](10) NOT NULL,
	[AppDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[BookingDate] [date] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[AdvanceAmount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTbl](
	[Cus_ID] [varchar](10) NOT NULL,
	[Title] [varchar](10) NULL,
	[CusFirst_Name] [varchar](50) NULL,
	[CusLast_Name] [varchar](50) NULL,
	[Contact] [varchar](15) NULL,
	[City] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeServiceTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeServiceTbl](
	[Emp_ID] [varchar](10) NOT NULL,
	[Service_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpTbl](
	[Emp_ID] [varchar](10) NOT NULL,
	[Title] [varchar](10) NULL,
	[EmpFirst_Name] [varchar](50) NOT NULL,
	[EmpLast_Name] [varchar](50) NOT NULL,
	[Contact] [varchar](15) NULL,
	[Role] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceServicesTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceServicesTbl](
	[InvoiceServID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [varchar](10) NOT NULL,
	[Service_ID] [varchar](10) NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[DiscountType] [varchar](10) NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceServID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTbl](
	[InvoiceID] [varchar](10) NOT NULL,
	[AppID] [varchar](10) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[GrossTotal] [decimal](10, 2) NOT NULL,
	[DiscountTotal] [decimal](10, 2) NOT NULL,
	[AdditionalDiscountValue] [decimal](10, 2) NOT NULL,
	[NetAmount] [decimal](10, 2) NOT NULL,
	[AdvancePayment] [decimal](10, 2) NOT NULL,
	[NetPayable] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[CashPaymentValue] [decimal](10, 2) NULL,
	[CardPaymentValue] [decimal](10, 2) NULL,
	[Balance] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokensTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokensTbl](
	[Token] [nvarchar](50) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategoryTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategoryTbl](
	[Category_ID] [varchar](10) NOT NULL,
	[Category_Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTbl](
	[Service_ID] [varchar](10) NOT NULL,
	[Service_Name] [varchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Duration] [time](7) NOT NULL,
	[Category_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettingTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingTbl](
	[SettingID] [varchar](10) NOT NULL,
	[LogoURL] [varchar](255) NULL,
	[Address] [varchar](255) NULL,
	[Telephone] [varchar](20) NULL,
	[FooterText] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 3/16/2026 1:09:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentsTbl] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[AppointmentsTbl] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[AppointmentsTbl] ADD  DEFAULT ((0)) FOR [AdvanceAmount]
GO
ALTER TABLE [dbo].[AppointmentsTbl] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[InvoiceServicesTbl] ADD  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[InvoiceServicesTbl] ADD  DEFAULT ('Flat') FOR [DiscountType]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [DiscountTotal]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [AdditionalDiscountValue]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [AdvancePayment]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [CashPaymentValue]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [CardPaymentValue]
GO
ALTER TABLE [dbo].[InvoiceTbl] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppointmentServiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_AppService_App] FOREIGN KEY([AppID])
REFERENCES [dbo].[AppointmentsTbl] ([AppID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentServiceTbl] CHECK CONSTRAINT [FK_AppService_App]
GO
ALTER TABLE [dbo].[AppointmentServiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_AppService_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[ServiceTbl] ([Service_ID])
GO
ALTER TABLE [dbo].[AppointmentServiceTbl] CHECK CONSTRAINT [FK_AppService_Service]
GO
ALTER TABLE [dbo].[AppointmentsTbl]  WITH CHECK ADD  CONSTRAINT [FK_App_Customer] FOREIGN KEY([Cus_ID])
REFERENCES [dbo].[CustomerTbl] ([Cus_ID])
GO
ALTER TABLE [dbo].[AppointmentsTbl] CHECK CONSTRAINT [FK_App_Customer]
GO
ALTER TABLE [dbo].[EmployeeServiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_EmpService_Emp] FOREIGN KEY([Emp_ID])
REFERENCES [dbo].[EmpTbl] ([Emp_ID])
GO
ALTER TABLE [dbo].[EmployeeServiceTbl] CHECK CONSTRAINT [FK_EmpService_Emp]
GO
ALTER TABLE [dbo].[EmployeeServiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_EmpService_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[ServiceTbl] ([Service_ID])
GO
ALTER TABLE [dbo].[EmployeeServiceTbl] CHECK CONSTRAINT [FK_EmpService_Service]
GO
ALTER TABLE [dbo].[InvoiceServicesTbl]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceServices_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceTbl] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceServicesTbl] CHECK CONSTRAINT [FK_InvoiceServices_Invoice]
GO
ALTER TABLE [dbo].[InvoiceServicesTbl]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceServices_Service] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[ServiceTbl] ([Service_ID])
GO
ALTER TABLE [dbo].[InvoiceServicesTbl] CHECK CONSTRAINT [FK_InvoiceServices_Service]
GO
ALTER TABLE [dbo].[InvoiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Appointment] FOREIGN KEY([AppID])
REFERENCES [dbo].[AppointmentsTbl] ([AppID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceTbl] CHECK CONSTRAINT [FK_Invoice_Appointment]
GO
ALTER TABLE [dbo].[ServiceTbl]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[ServiceCategoryTbl] ([Category_ID])
GO
ALTER TABLE [dbo].[ServiceTbl] CHECK CONSTRAINT [FK_Service_Category]
GO
USE [master]
GO
