<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="GlamoraDBConnection" connectionString="Server=DESKTOP-I6MPR4D\SQLEXPRESS02;Database=Glamora;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>


		<!-- Firebase placeholders: store real values securely (do not commit secrets to source control) -->
		<add key="Firebase_ApiKey" value="AIzaSyB-yBOfkT9odRQUR7Rq3MEAV76zTg-fH5k" />
		<add key="Firebase_AuthDomain" value="glamora-daa5d.firebaseapp.com" />
		<add key="Firebase_ProjectId" value="glamora-daa5d" />
		<add key="Firebase_StorageBucket" value="glamora-daa5d.firebasestorage.app" />
		<add key="Firebase_MessagingSenderId" value="185689031017" />
		<add key="Firebase_AppId" value="1:185689031017:web:d6c6998392a152901e3df8" />
		<add key="Firebase_MeasurementId" value="G-RZG9PNZJGY" />
      <!-- Local/dev test credentials. Do NOT commit production secrets. Rotate if these are real. -->
		<add key="AuthTestUsername" value="nethmimandira273@gmail.com" />
		<add key="AuthTestPassword" value="Glamora123" />
		<add key="AuthTestUserId" value="BWW5q3nOVkh80lpjyoWxkOaRWS32" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:&quot;_MYTYPE=Web&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<!-- Ensure a default document is served for folder requests (prevents IIS 403.14 when navigating to /Services/) -->
	<system.webServer>
        <!-- Rewrite requests for the folder path /Services/ to the file /Services.aspx -->
		<rewrite>
			<rules>
				<rule name="ServicesFolderToASPX" stopProcessing="true">
					<match url="^Services/?$" ignoreCase="true" />
					<action type="Rewrite" url="/Services.aspx" appendQueryString="false" />
				</rule>
                <!-- Rewrite subpaths like /Services/ServiceCategories to the corresponding .aspx at site root -->
               <rule name="ServicesSubpathToASPX" stopProcessing="true">
					<!-- Match only simple subpaths without a dot/extension (prevents rewriting already-extended requests like Services/Services.aspx) -->
					<match url="^Services/([^/.]+)/?$" ignoreCase="true" />
					<action type="Rewrite" url="/{R:1}.aspx" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<defaultDocument enabled="true">
         <files>
				<!-- Clear inherited default document entries to avoid duplicate key errors -->
				<clear />
				<add value="Services.aspx" />
				<add value="Default.aspx" />
				<add value="index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>